.Field > .label,
.Field > .input,
.Field > .error {
	color: var(--content-color);
	margin: 0 0 .5rem 0;
}

.Field > .label {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 600;
	display: block;
}

.Field > .label > .labelRequired {
	color: var(--secondary-color);
}

.Field > .input,
.Field > .inputWithError {
	font-size: 1rem;
	padding: .5rem 1rem;
	border-radius: var(--border-radius);
	border: 1px solid var(--border-color);
	min-width: 20rem;
	width: 100%;
}

.Field > .inputWithError {
	border-color: var(--secondary-color);
}

.Field > select.input,
.Field > select.inputWithError {
	appearance: none;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAQAAAD/5HvMAAAA80lEQVR4Ae3YAQZCQRjE8bnHi7peACQBhQhdq+gUeU/dY0MYlqbC14T5Axj2B9hd1JRSSmmPLf6oIxoaNn/FESQThyQ/x0kSHJLcHD+JHCdJc0aMTlLPmTBgjntPcnIAWEiCYyIpjoG01pwXpCWq4mE9R6xGzIB6EjliRU41SXO4upFTSzoLDlcXLAB/KaWUUkopLXDCgHcNOGP+G86Nl3zBmdBwJ6mW00gSnFZPmj05JGlOPWn50VN66lYrFLb5+rPhCAAGkuIYSIpjIgmOhXR1cdi2A9g47KA5NpLm+Ek7dHlJKzA7iRw/SXBcpCJOSimlB8bHilMv6tr4AAAAAElFTkSuQmCC');
  background-position: calc(100% - 0.625rem) center;
  background-repeat: no-repeat;
  background-size: 1rem;
}

.Field > .error {
	font-size: .75rem;
	color: var(--secondary-color);
	padding: 0;
}

@media (min-width: 743px) {
	.Field > .input,
	.Field > .inputWithError {
		width: auto;
	}
}