.App {
	color: var(--content-color);
	display: grid;
	margin: 0 auto;
	max-width: var(--layout-max-width);
	padding: 2rem 1rem;
	width: 100%;
}

.App > .section {
	max-width: 20rem;
	margin: 0 auto;
}

.App > .section > .link {
	color: var(--content);
	text-decoration: none;
}